<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h2>Edit user of email : <%= user.email %></h2>
    <form action="/user/<%=user.id%>?_method=PATCH" method="post">
        <textarea name="username" id="username"><%= user.username %></textarea>
        <input type="password" placeholder="Enter Password" name="password">
        <button>Submit</button>
    </form>
</body>
</html>