<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
</head>
<body>
    <h1>Write New Chat</h1>
    <form action="/chats" method="post">
        <input type="text" placeholder="Who Are You ...?" name="from"><br><br>
        <textarea name="msg" id="message" placeholder="Write Your Message Here.. "></textarea><br><br>
        <input type="text" name="to" placeholder="Add Reciver.."><br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>