<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Chandan Chauhan</h1>
    <h2><%="Chandani".toUpperCase()%></h2>
    <h2><%="Chandan".toUpperCase()%></h2>
    <h3><%= ["Chandan", "Chandani", "Santosh", "Santoshi"]%></h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique
      voluptas dolorem minus in sint voluptatibus architecto magni autem, unde
      aspernatur? Iste aliquid nisi harum sint autem id similique veniam ipsam.
      Qui exercitationem vitae, voluptates nulla voluptatem accusantium quasi
      commodi natus porro magnam, repellat provident cum expedita ad perferendis
      labore! Eum at eaque, error tenetur dignissimos in possimus reiciendis ab
      voluptatum? Aspernatur illo vel, consectetur obcaecati molestiae optio
      quam harum aliquam assumenda fugit aliquid officia. Blanditiis sapiente
      inventore nemo maxime, saepe alias quaerat magni iusto nisi explicabo
      temporibus at rem repellendus?
    </p>
    <%- include("includes/footer.ejs")%>
  </body>
</html>
