<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Post in Details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Here is your post in detail</h1>
    <div class="box">
        <p>Post id : <%= post.id %></p>
        <h3 class="username">@<%= post.username %></h3>
        <h4 class="content"><%= post.content %></h4>
    </div>
    <button><a id="goback_button" href="http://localhost:8080/posts/">Go Back to All Posts</a></button>
</body>
</html>